
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/config/applicationhost.config
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/v16/.suo
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/v16/Server/sqlite3/db.lock
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/v16/Server/sqlite3/storage.ide
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/v16/Server/sqlite3/storage.ide-shm
Task(WebAPI-AngularJs)/.vs/Task(WebAPI-AngularJs)/v16/Server/sqlite3/storage.ide-wal
Task(WebAPI-AngularJs)/Task(WebAPI-AngularJs)/obj/Debug/Task(WebAPI-AngularJs).csprojAssemblyReference.cache
