<!--tools for customers-->
<div class="btn-group" role="group" aria-label="Basic example" style="direction:rtl;float:right;padding:5px;margin:0 32px 0 0;">
    <button ng-controller="ExportController" type="button" class="btn btn-secondary" ng-click="Export()"><i class="fas fa-file-export"></i></button>
    <button ng-controller="PrintController" type="button" class="btn btn-secondary" ng-click="Print()"><i class="fas fa-print"></i></button>
    <button ng-controller="ReloadController" type="button" class="btn btn-secondary" ng-click="Reload('Customers')"><i class="fas fa-sync-alt"></i></button>
    <button ng-controller="SearchController" type="button" class="btn btn-secondary" ng-click="Search()"><i class="fas fa-search"></i></button>
    <button type="button" class="btn btn-secondary" data-toggle="dropdown" class="dropdown-toggle"><i class="fas fa-cog"></i><b class="caret"></b></button>
          <ul class="dropdown-menu">
            <li><label class="checkbox">اسم العميل</label><input type="checkbox" class="SelectBox" id="Customer_NameCheck" name="Customer_NameCheck" ng-model="Customer_NameCheck"></li>
            <li><label class="checkbox">عنوان العميل</label><input type="checkbox" class="SelectBox" id="Customer_AddressCheck" name="Customer_AddressCheck" ng-model="Customer_AddressCheck"></li>
            <li><label class="checkbox">الموبايل</label><input type="checkbox" class="SelectBox" id="MobileCheck" name="MobileCheck" ng-model="MobileCheck"></li>
            <li><label class="checkbox">تليفون 1</label><input type="checkbox" class="SelectBox" id="Phone1Check" name="Phone1Check" ng-model="Phone1Check"></li>
            <li><label class="checkbox">تليفون 2</label><input type="checkbox" class="SelectBox" id="Phone2Check" name="Phone2Check" ng-model="Phone2Check"></li>
            <li><label class="checkbox">واتس</label><input type="checkbox" class="SelectBox" id="WhatsappCheck" name="WhatsappCheck" ng-model="WhatsappCheck"></li>
            <li><label class="checkbox">الايميل</label><input type="checkbox" class="SelectBox" id="EmailCheck" name="EmailCheck" ng-model="EmailCheck"></li>
            <li><label class="checkbox">كود العميل</label><input type="checkbox" class="SelectBox" id="Customer_CodeCheck" name="Customer_CodeCheck" ng-model="Customer_CodeCheck"></li>
            <li><label class="checkbox">الجنسيه</label><input type="checkbox" class="SelectBox" id="NationalityCheck" name="NationalityCheck" ng-model="NationalityCheck"></li>
            <li><label class="checkbox">محل الاقامه</label><input type="checkbox" class="SelectBox" id="Resolved_ResidenceCheck" name="Resolved_ResidenceCheck" ng-model="Resolved_ResidenceCheck"></li>
            <li><label class="checkbox">توصيف</label><input type="checkbox" class="SelectBox" id="DetailsCheck" name="DetailsCheck" ng-model="DetailsCheck"></li>
            <li><label class="checkbox">الوظيفه</label><input type="checkbox" class="SelectBox" id="OccupationCheck" name="OccupationCheck" ng-model="OccupationCheck"></li>
            <li><label class="checkbox">ادخال بواسطه</label><input type="checkbox" class="SelectBox" id="Introduced_ByCheck" name="Introduced_ByCheck" ng-model="Introduced_ByCheck"></li>
            <li><label class="checkbox">تاريخ الادخال</label><input type="checkbox" class="SelectBox" id="Entry_DateCheck" name="Entry_DateCheck" ng-model="Entry_DateCheck"></li>
            <li><label class="checkbox">اخر تعديل</label><input type="checkbox" class="SelectBox" id="Last_UpdateCheck" name="Last_UpdateCheck" ng-model="Last_UpdateCheck"></li>
            <li><label class="checkbox">اخر تعديل فى</label><input type="checkbox" class="SelectBox" id="Last_Modified_InCheck" name="Last_Modified_InCheck" ng-model="Last_Modified_InCheck"></li>
            <li><label class="checkbox">رجل المبيعات</label><input type="checkbox" class="SelectBox" id="SalesmanCheck" name="SalesmanCheck" ng-model="SalesmanCheck"></li>
            <li><label class="checkbox">مصدر العميل</label><input type="checkbox" class="SelectBox" id="Client_SourceCheck" name="Client_SourceCheck" ng-model="Client_SourceCheck"></li>
            <li><label class="checkbox">تصنيف العميل</label><input type="checkbox" class="SelectBox" id="Customer_RatingCheck" name="Customer_RatingCheck" ng-model="Customer_RatingCheck"></li>
          </ul>
</div>
<!--new button-->
<button type="button" class="btn btn-secondary"  ui-sref="NewCustomer"><i class="fas fa-plus"></i> جديد</button>
</br>
</br>
<!--table for customers-->
  <div id="exportable">
    <table class="table table-responsive table-hover" ng-init="GetCustomers()">
      <thead class="thead-dark">
        <tr>
          <th scope="col" ng-show="Customer_NameCheck">اسم العميل</th>
          <th scope="col" ng-show="Customer_AddressCheck">عنوان العميل</th>
          <th scope="col" ng-show="MobileCheck">الموبايل</th>
          <th scope="col" ng-show="Phone1Check">تليفون 1</th>
          <th scope="col" ng-show="Phone2Check">تليفون 2</th>
          <th scope="col" ng-show="WhatsappCheck">واتس</th>
          <th scope="col" ng-show="EmailCheck">الايميل</th>
          <th scope="col" ng-show="Customer_CodeCheck">كود العميل</th>
          <th scope="col" ng-show="NationalityCheck">الجنسيه</th>
          <th scope="col" ng-show="Resolved_ResidenceCheck">محل الاقامه</th>
          <th scope="col" ng-show="DetailsCheck">توصيف</th>
          <th scope="col" ng-show="OccupationCheck">الوظيفه</th>
          <th scope="col" ng-show="Introduced_ByCheck">ادخال بواسطه</th>
          <th scope="col" ng-show="Entry_DateCheck">تاريخ الادخال</th>
          <th scope="col" ng-show="Last_UpdateCheck">اخر تعديل</th>
          <th scope="col" ng-show="Last_Modified_InCheck">اخر تعديل فى</th>
          <th scope="col" ng-show="SalesmanCheck">رجل المبيعات</th>
          <th scope="col" ng-show="Client_SourceCheck">مصدر العميل</th>
          <th scope="col" ng-show="Customer_RatingCheck">تصنيف العميل</th>
          <th scope="col">العمليات</th>
        </tr>
      </thead>
      <tbody>
          <!--search tool for customers-->
        <tr ng-controller="SearchController">
          <div class="form-row" dir="rtl">
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Name" ng-model="globalSearch.Customer_Name" placeholder="اسم العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Address" ng-model="globalSearch.Customer_Address" placeholder="عنوان العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Mobile" ng-model="globalSearch.Mobile" placeholder="الموبايل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Phone1" ng-model="globalSearch.Phone1" placeholder="تليفون 1">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Phone2" ng-model="globalSearch.Phone2" placeholder="تليفون 2">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Whatsapp" ng-model="globalSearch.Whatsapp" placeholder="واتس">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Email" ng-model="globalSearch.Email" placeholder="الايميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Code" ng-model="globalSearch.Customer_Code" placeholder="كود العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Nationality" ng-model="globalSearch.Nationality" placeholder="الجنسيه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Resolved_Residence" ng-model="globalSearch.Resolved_Residence" placeholder="محل الاقامه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Details" ng-model="globalSearch.Details" placeholder="توصيف">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Occupation" ng-model="globalSearch.Occupation" placeholder="الوظيفه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Introduced_By" ng-model="globalSearch.Introduced_By" placeholder="ادخال بواسطه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Entry_Date" ng-model="globalSearch.Entry_Date" placeholder="تاريخ الادخال">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Last_Update" ng-model="globalSearch.Last_Update" placeholder="اخر تعديل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Last_Modified_In" ng-model="globalSearch.Last_Modified_In" placeholder="اخر تعديل فى">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Salesman" ng-model="globalSearch.Salesman" placeholder="رجل المبيعات">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Client_Source" ng-model="globalSearch.Client_Source" placeholder="مصدر العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Rating" ng-model="globalSearch.Customer_Rating" placeholder="تصنيف العميل">
              </div>
          </div>
        </tr>
        <!--customers data-->
        <tr dir-paginate="item in Customers | filter:globalSearch | itemsPerPage:10">
          <td ng-show="Customer_NameCheck">{{item.Customer_Name}}</td>
          <td ng-show="Customer_AddressCheck">{{item.Customer_Address}}</td>
          <td ng-show="MobileCheck">{{item.Mobile}}</td>
          <td ng-show="Phone1Check">{{item.Phone1}}</td>
          <td ng-show="Phone2Check">{{item.Phone2}}</td>
          <td ng-show="WhatsappCheck">{{item.Whatsapp}}</td>
          <td ng-show="EmailCheck">{{item.Email}}</td>
          <td ng-show="Customer_CodeCheck">{{item.Customer_Code}}</td>
          <td ng-show="NationalityCheck">{{item.Nationality}}</td>
          <td ng-show="Resolved_ResidenceCheck">{{item.Resolved_Residence}}</td>
          <td ng-show="DetailsCheck">{{item.Details}}</td>
          <td ng-show="OccupationCheck">{{item.Occupation}}</td>
          <td ng-show="Introduced_ByCheck">{{item.Introduced_By}}</td>
          <td ng-show="Entry_DateCheck">{{item.Entry_Date}}</td>
          <td ng-show="Last_UpdateCheck">{{item.Last_Update}}</td>
          <td ng-show="Last_Modified_InCheck">{{item.Last_Modified_In}}</td>
          <td ng-show="SalesmanCheck">{{item.Salesman}}</td>
          <td ng-show="Client_SourceCheck">{{item.Client_Source}}</td>
          <td ng-show="Customer_RatingCheck">{{item.Customer_Rating}}</td>
          <td>
            <a href="#" ui-sref="EditCustomer({id : item.Customer_ID})"><i class="fas fa-edit"></i></a>
            <a href="#" ng-controller="Phone_CallsController" ng-click="DeletePhoneCalls({id : item.Customer_ID});DeleteCustomer({id : item.Customer_ID});"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls></dir-pagination-controls>
  </div>