<div class="btn-group" role="group" aria-label="Basic example" style="direction:rtl;float:right;padding:5px;margin:0 32px 0 0;">
    <button ng-controller="ExportController" type="button" class="btn btn-secondary" ng-click="Export()"><i class="fas fa-file-export"></i></button>
    <button ng-controller="PrintController" type="button" class="btn btn-secondary" ng-click="Print()"><i class="fas fa-print"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fas fa-sync-alt"></i></button>
    <button ng-controller="SearchController" type="button" class="btn btn-secondary" ng-click="Search()"><i class="fas fa-search"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fas fa-cog"></i></button>
</div>
<button type="button" class="btn btn-secondary"  ui-sref="NewCustomer"><i class="fas fa-plus"></i> جديد</button>
</br>
</br>
  <div id="exportable">
    <table class="table table-responsive">
      <thead class="thead-dark">
        <tr>
          <th scope="col">اسم العميل</th>
          <th scope="col">عنوان العميل</th>
          <th scope="col">الموبايل</th>
          <th scope="col">تليفون 1</th>
          <th scope="col">تليفون 2</th>
          <th scope="col">واتس</th>
          <th scope="col">الايميل</th>
          <th scope="col">كود العميل</th>
          <th scope="col">الجنسيه</th>
          <th scope="col">محل الاقامه</th>
          <th scope="col">توصيف</th>
          <th scope="col">الوظيفه</th>
          <th scope="col">ادخال بواسطه</th>
          <th scope="col">تاريخ الادخال</th>
          <th scope="col">اخر تعديل</th>
          <th scope="col">اخر تعديل فى</th>
          <th scope="col">رجل المبيعات</th>
          <th scope="col">مصدر العميل</th>
          <th scope="col">تصنيف العميل</th>
          <th scope="col">العمليات</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-controller="SearchController">
          <div class="form-row" dir="rtl">
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Name" ng-model="globalSearch.Customer_Name" placeholder="اسم العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Address" ng-model="globalSearch.Customer_Address" placeholder="عنوان العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Mobile" ng-model="globalSearch.Mobile" placeholder="الموبايل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Phone1" ng-model="globalSearch.Phone1" placeholder="تليفون 1">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Phone2" ng-model="globalSearch.Phone2" placeholder="تليفون 2">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Whatsapp" ng-model="globalSearch.Whatsapp" placeholder="واتس">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Email" ng-model="globalSearch.Email" placeholder="الايميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Code" ng-model="globalSearch.Customer_Code" placeholder="كود العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Nationality" ng-model="globalSearch.Nationality" placeholder="الجنسيه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Resolved_Residence" ng-model="globalSearch.Resolved_Residence" placeholder="محل الاقامه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Details" ng-model="globalSearch.Details" placeholder="توصيف">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Occupation" ng-model="globalSearch.Occupation" placeholder="الوظيفه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Introduced_By" ng-model="globalSearch.Introduced_By" placeholder="ادخال بواسطه">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Entry_Date" ng-model="globalSearch.Entry_Date" placeholder="تاريخ الادخال">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Last_Update" ng-model="globalSearch.Last_Update" placeholder="اخر تعديل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Last_Modified_In" ng-model="globalSearch.Last_Modified_In" placeholder="اخر تعديل فى">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Salesman" ng-model="globalSearch.Salesman" placeholder="رجل المبيعات">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Client_Source" ng-model="globalSearch.Client_Source" placeholder="مصدر العميل">
              </div>
              <div class="col-md-3 mb-3">
                  <input type="text" class="form-control Search" id="Customer_Rating" ng-model="globalSearch.Customer_Rating" placeholder="تصنيف العميل">
              </div>
          </div>
        </tr>
        <tr dir-paginate="item in Customers | filter:globalSearch | itemsPerPage:10">
          <td>{{item.Customer_Name}}</td>
          <td>{{item.Customer_Address}}</td>
          <td>{{item.Mobile}}</td>
          <td>{{item.Phone1}}</td>
          <td>{{item.Phone2}}</td>
          <td>{{item.Whatsapp}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Customer_Code}}</td>
          <td>{{item.Nationality}}</td>
          <td>{{item.Resolved_Residence}}</td>
          <td>{{item.Details}}</td>
          <td>{{item.Occupation}}</td>
          <td>{{item.Introduced_By}}</td>
          <td>{{item.Entry_Date}}</td>
          <td>{{item.Last_Update}}</td>
          <td>{{item.Last_Modified_In}}</td>
          <td>{{item.Salesman}}</td>
          <td>{{item.Client_Source}}</td>
          <td>{{item.Customer_Rating}}</td>
          <td>
            <a href="#" ui-sref="EditCustomer({id : item.Customer_ID})"><i class="fas fa-edit"></i></a>
            <a href="#" ng-click="DeleteCustomer({id : item.Customer_ID})"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls></dir-pagination-controls>
  </div>