<div class="modal-header" lang="ar" dir="rtl">
    <h3 class="modal-title">الاعدادات</h3>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Customer_Name">اسم العميل</label>
        <input type="checkbox" class="form-control input" id="Customer_NameCheck" ng-model="Customer_NameCheck">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">عنوان العميل</label>
        <input type="checkbox" class="form-control input" id="Customer_Name" ng-model="Customer.Customer_Name">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">الموبايل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">تليفون 1</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">تليفون 2</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">واتس</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">الايميل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">كود العميل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">الجنسيه</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">محل الاقامه</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">توصيف</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">الوظيفه</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">ادخال بواسطه</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">تاريخ الادخال</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">اخر تعديل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">اخر تعديل فى</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">رجل المبيعات</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">مصدر العميل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>
<div class="form-row" dir="rtl">
    <div class="col-md-4 mb-3">
        <label class="label" for="Was_Done">تصنيف العميل</label>
        <input type="checkbox" class="form-control input" id="Employee" ng-model="Phone.Was_Done">
    </div>
</div>