<head>
    <link rel="stylesheet" href="/lib/Css/main.css">
</head>
</br>
<form ng-init="GetCustomerById()">
        <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3" hidden>
                <label class="label" for="Customer_ID">ID</label>
                <input type="text" class="form-control input" id="Customer_ID" ng-model="Customer.Customer_ID">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Customer_Name">اسم العميل</label>
                <input type="text" class="form-control input" id="Customer_Name" ng-model="Customer.Customer_Name">
            </div>
            <div class="col-md-8 mb-3">
                <label class="label" for="Customer_Address">عنوان العميل / الحى</label>
                <input type="text" class="form-control input" id="Customer_Address" ng-model="Customer.Customer_Address">
             </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Mobile">الموبايل</label>
                <input type="text" class="form-control input" id="Mobile" ng-model="Customer.Mobile">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Phone1">تليفون 1</label>
                <input type="text" class="form-control input" id="Phone1" ng-model="Customer.Phone1">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Phone2">تليفون 2</label>
                <input type="text" class="form-control input" id="Phone2" ng-model="Customer.Phone2">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Whatsapp">واتس</label>
                <input type="text" class="form-control input" id="Whatsapp" ng-model="Customer.Whatsapp">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Email">الايميل</label>
                <input type="text" class="form-control input" id="Email" ng-model="Customer.Email">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Nationality">الجنسيه</label>
                <input type="text" class="form-control input" id="Nationality" ng-model="Customer.Nationality">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Resolved_Residence">محل الاقامه</label>
                <input type="text" class="form-control input" id="Resolved_Residence"ng-model="Customer.Resolved_Residence">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Details">توصيف</label>
                <input type="text" class="form-control input" id="Details" ng-model="Customer.Details">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Occupation">الوظيفه</label>
                <input type="text" class="form-control input" id="Occupation" ng-model="Customer.Occupation">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Salesman">رجل المبيعات</label>
                <input type="text" class="form-control input" id="Salesman" ng-model="Customer.Salesman">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Client_Source">مصدر العميل</label>
                <input type="text" class="form-control input" id="Client_Source" ng-model="Customer.Client_Source">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Customer_Rating">تصنيف العميل</label>
                <input type="text" class="form-control input" id="Customer_Rating" ng-model="Customer.Customer_Rating">
            </div>
        </div>
        <div>
            <button class="btn btn-primary button" ng-click="SaveCustomer(Customer)"><i class="fas fa-save"></i> حفظ</button>
        </div>
        <div>
            <button class="btn btn-primary button" ng-click="UpdateCustomer(Customer)"><i class="fas fa-save"></i> تعديل</button>
        </div>
        <button class="btn btn-secondary button" ui-sref="CustomersList">الغاء</button>
</form>
</br>
</br>
</br>
<div class="btn-group" role="group" aria-label="Basic example" style="direction:rtl;float:right;padding:5px;margin:0 32px 0 0;">
    <button type="button" class="btn btn-secondary" onclick="Export()"><i class="fas fa-file-export"></i></button>
    <button ng-controller="PrintController" type="button" class="btn btn-secondary" ng-click="Print()"><i class="fas fa-print"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fas fa-sync-alt"></i></button>
    <button type="button" class="btn btn-secondary" ng-click="Search()"><i class="fas fa-search"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fas fa-cog"></i></button>
</div>
<div ng-controller="PopUpController">
    <button type="button" class="btn btn-secondary" ng-click="open(Customer.Customer_ID)"><i class="fas fa-plus"></i> جديد</button>
</div>
</br>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">المكالمات</a>
    </li>
</ul>
<div data-ng-controller="Phone_CallsController">
    <div id="exportable">
        <table class="table table-responsive" ng-init="GetPhoneCallsById()">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">التوصيف</th>
                    <th scope="col">عنوان المكالمه</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">المشروع</th>
                    <th scope="col">الموظف</th>
                    <th scope="col">هل تمت</th>
                    <th scope="col">نوع المكالمه</th>
                    <th scope="col">هل وارد</th>
                    <th scope="col">ادخال بواسطه</th>
                    <th scope="col">تاريخ الادخال</th>
                    <th scope="col">اخر تعديل</th>
                    <th scope="col">اخر تعديل فى</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in PhoneCalls">
                    <td>{{item.Details}}</td>
                    <td>{{item.Call_Address}}</td>
                    <td>{{item.Date}}</td>
                    <td>{{item.Project}}</td>
                    <td>{{item.Employee}}</td>
                    <td>
                        <i ng-if="item.Was_Done == true" class="fas fa-check-circle"></i>
                        <i ng-if="item.Was_Done == false" class="fas fa-times-circle"></i>
                    </td>
                    <td>{{item.Call_Type}}</td>
                    <td>
                        <i ng-if="item.Was_Income == true" class="fas fa-check-circle"></i>
                        <i ng-if="item.Was_Income == false" class="fas fa-times-circle"></i>
                    </td>
                    <td>{{item.Introduced_By}}</td>
                    <td>{{item.Entry_Date}}</td>
                    <td>{{item.Last_Update}}</td>
                    <td>{{item.Last_Modified_In}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
