<head>
    <link rel="stylesheet" href="/lib/Css/main.css">
</head>
</br>
<form ng-init="GetCustomerById()">
        <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3" hidden>
                <label class="label" for="Customer_ID">ID</label>
                <input type="text" class="form-control input" id="Customer_ID" ng-model="Customer.Customer_ID">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Customer_Name">اسم العميل</label>
                <input type="text" class="form-control input" id="Customer_Name" ng-model="Customer.Customer_Name">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Customer_Address">عنوان العميل</label>
                <input type="text" class="form-control input" id="Customer_Address" ng-model="Customer.Customer_Address">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="validationDefault02">الحى</label>
                <!--<input type="text" class="form-control input" id="validationDefault02">-->
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Mobile">الموبايل</label>
                <input type="text" class="form-control input" id="Mobile" ng-model="Customer.Mobile">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Phone1">تليفون 1</label>
                <input type="text" class="form-control input" id="Phone1" ng-model="Customer.Phone1">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Phone2">تليفون 2</label>
                <input type="text" class="form-control input" id="Phone2" ng-model="Customer.Phone2">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Whatsapp">واتس</label>
                <input type="text" class="form-control input" id="Whatsapp" ng-model="Customer.Whatsapp">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Email">الايميل</label>
                <input type="text" class="form-control input" id="Email" ng-model="Customer.Email">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Nationality">الجنسيه</label>
                <input type="text" class="form-control input" id="Nationality" ng-model="Customer.Nationality">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Resolved_Residence">محل الاقامه</label>
                <input type="text" class="form-control input" id="Resolved_Residence"ng-model="Customer.Resolved_Residence">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Details">توصيف</label>
                <input type="text" class="form-control input" id="Details" ng-model="Customer.Details">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Occupation">الوظيفه</label>
                <input type="text" class="form-control input" id="Occupation" ng-model="Customer.Occupation">
            </div>
        </div>
    <div class="form-row" dir="rtl">
            <div class="col-md-4 mb-3">
                <label class="label" for="Salesman">رجل المبيعات</label>
                <input type="text" class="form-control input" id="Salesman" ng-model="Customer.Salesman">
            </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Client_Source">مصدر العميل</label>
                <input type="text" class="form-control input" id="Client_Source" ng-model="Customer.Client_Source">
             </div>
            <div class="col-md-4 mb-3">
                <label class="label" for="Customer_Rating">تصنيف العميل</label>
                <input type="text" class="form-control input" id="Customer_Rating" ng-model="Customer.Customer_Rating">
            </div>
        </div>
        <div>
            <button class="btn btn-primary button" ng-click="SaveCustomer(Customer)"><i class="fas fa-save"></i> حفظ</button>
        </div>
        <div>
            <button class="btn btn-primary button" ng-click="UpdateCustomer(Customer)"><i class="fas fa-save"></i> تعديل</button>
        </div>
        <button class="btn btn-secondary button" ui-sref="CustomersList">الغاء</button>
</form>
</br>
</br>
</br>
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">المكالمات</a>
        </li>
</ul>